@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');


:root {
    --black: #272727;
    --purple: #681fad;
    --light-purple: #8226d9;
    --lighter-purple: #9649df;
    --cyan: #1f91ad;
    --light-cyan: #26b5d9;
    --light-gray: #f0f0f0;
    --font-family-display: cinzelbold, poppinsbold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family-poppinslight: poppinslight, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-poppinsregular: poppinsregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-poppinsmedium: poppinsmedium, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: white;
    margin-block: 20px;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background: #008BC7;
    border: 2px solid white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background: hsl(192 100% 15% / 1);
}

body {
    background-color: white;
    color: var(--black);
    font-family: var(--font-family-poppinsregular);
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 24px auto;
}

header {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-radius: 12px 12px 0 0;
}

#title {
    font-family: var(--font-family-poppinsbold);
    flex-direction: column;
    line-height: 2em;
    padding-left: 20px;
}

h1 {
    font-size: 2.6rem;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--lighter-purple);
    transition: 0.3s all;
}

nav a:hover {
    color: var(--lighter-purple);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12vh 0;
    background-color: rgb(240, 240, 240);
}

main p {
    line-height: 20px;
    max-width: 500px;
    font-family: var(--font-family-poppinslight);
    word-spacing: 0.1em;
}

h2 {
    font-size: 3rem;
    line-height: 1em;
    font-family: var(--font-family-poppinsmedium);
}

span {
    color: #8227d6;
}

strong {
    color: #1099d4;
}

img {
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type = "submit"] {
    background-image: linear-gradient(to left, #1f91ad, #681fad);
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #00000050;
    height: 50px;
    width: 45%;
    font-weight: bold;
    align-self: flex-end;
}

form [type = "submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, #26b5d9, #8226d9);
}

form [type = "submit"]:active {
    background-image: linear-gradient(to left, hsl(192, 70%, 35%), hsl(271, 70%, 35%));
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}


footer {
    background-image: linear-gradient(to right, #49157a,#651ea7, #8227d6,#1099d4, #008BC7);
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: var(--font-family-poppinslight);
    border-radius: 0 0 12px 12px;
}

footer a {
    font-family: var(--font-family-poppinsmedium);
    text-decoration: none;
    text-align: center;
}

footer p {
    padding: 1px;
    margin: 0;
}

footer a:hover {
    color: var(--cor3);
    transition: 0.3s all;
}
